// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: auto;
  height: auto;
}

.alignleft,
.alignright {
  height: auto;
}

.alignleft {
  float: left;
}
