.wpcf7-not-valid-tip,
.wpcf7-response-output {
  display: none !important;
}

.wpcf7-form-control-wrap {
  position: static;
}

.wpcf7-not-valid ~ .error-message {
  display: block;
}

.feedback-box__wrap {
  .contacts-box__success {
    display: none;
  }

  &.submitted {
    .contacts-box__success {
      display: block;
    }
    .wpcf7 {
      display: none;
    }
  }
}

.promo-card__more:after {
  background-image: url("../images/arrow-right.svg");
}

.schedule-list__item-icon {
  background-image: url("../images/check.svg");
}

.promo-order__arrow {
  background: url("../images/arrow.png") no-repeat 0 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx), only screen and (min-resolution: 192dpi) {
  .iti-flag {
    background-size: 5630px 15px;
    background-image: url(../images/flags@2x.png)
  }
}

.iti-flag {
  background-size: 5630px 15px;
  background-image: url(../images/flags.png)
}

.post-type-archive-kursy .cards-list {
  padding-top: 0;
}

.visual__button {
  &--blue {
    color: #009fff;
    background: #ffffff;
  }
}

.sale-block {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: #009fff;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;

  & > * {
    display: block;
    width: 100%;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  @media (min-width: 768px) {
    & {
      position: fixed;
      flex-wrap: nowrap;

      & > * {
        width: auto;
        &:not(:first-child) {
          margin-top: 0
        }
      }
    }
  }

  &__text {
    margin: 0 20px;
  }

  span {
    font-weight: 700;
  }
}

.search-field__button {
  background-image: url(../images/search-icon.svg);
}

.blog-list__more:after {
  background-image: url(../images/caret-bottom.svg);
}

.page-wrap__cover-image {
  height: auto;
}

.breadcrumbs__link {
  position: relative;
  padding-right: 22px;
  display: inline-block;
  vertical-align: top;

  &:after {
    content: "";
    position: absolute;
    top: 7px;
    right: 5px;
    border-style: solid;
    border-width: 3px 4px;
    border-color: transparent transparent transparent #009fff;
  }
}

.breadcrumb_last {
  color: #009fff;
  font-weight: bold;
}

